.profile {
    display: flex;

    .profileRight {
        flex: 9.5;

        .profileCover {
            height: 320px;
            position: relative;

            .profileCoverImg {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .profileUserImg {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 150px;
                border: 3px solid white;
            }
        }

        .profileBtns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .profileRequestPlayerBtn {
                background-color: rgb(3, 160, 3);
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;
                text-align: center;
            }

            .profileRequestPlayerBtn:hover {
                background-color: rgb(2, 102, 2);
            }

            .profileEditBtn {
                background-color: #007bff;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;
                text-align: center;
            }

            .profileEditBtn:hover {
                background-color: #0056b3;
            }

            .profileDeleteBtn {
                background-color: rgb(255, 6, 6);
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;
                text-align: center;
            }

            .profileDeleteBtn:hover {
                background-color: #a70404;
            }
        }

        .profileInfo {
            display: flex;
            flex-direction: column;
            align-items: center;

            .profileInfoName {
                font-size: 24px;
            }

            .profileInfoDesc {
                font-weight: 300;
            }
        }
    }
}
