.profile {
    display: flex;

    .profileFeed {
        flex: 8;

        .profileFeedTop {
            .profileCover {
                height: 320px;
                position: relative;

                .profileCoverImg {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }

                .profileUserImg {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 150px;
                    border: 3px solid white;
                }
            }

            .profileBtns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                .profileEditBtn {
                    background-color: #007bff;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    transition: background-color 0.2s ease-in-out;
                    text-align: center;
                }

                .profileEditBtn:hover {
                    background-color: #0056b3;
                }

                .profileDeleteBtn {
                    background-color: rgb(255, 6, 6);
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    transition: background-color 0.2s ease-in-out;
                    text-align: center;
                }

                .profileDeleteBtn:hover {
                    background-color: #a70404;
                }
            }

            .profileRequestBtns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-top: 20px;

                .profileRequestPlayerBtn {
                    background-color: rgb(3, 160, 3);
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    transition: background-color 0.2s ease-in-out;
                    text-align: center;

                    &:hover {
                        background-color: rgb(2, 102, 2);
                    }
                }
            }

            .profileInfo {
                display: flex;
                flex-direction: column;
                align-items: center;

                .profileInfoName {
                    font-size: 24px;
                }

                .profileInfoDesc {
                    font-weight: 300;
                }
            }
        }

        .profileFeedBottom {
            display: flex;
            justify-content: center;

            .playerProfileWrapper {
                border: 1px solid #ccc;
                padding: 15px;
                margin: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                width: 70%;

                .playerTop {
                    text-align: center;
                    margin-bottom: 15px;
                }

                .playerMain {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                    gap: 5px;

                    .playerMainFullName {
                        display: flex;
                        align-items: center;

                        .playerMainFullNameLink {
                            text-decoration: none;
                            color: inherit;

                            &:hover {
                                color: #a4a1a1;
                            }
                        }

                        span {
                            margin-left: 5px;
                            font-weight: 700;
                        }
                    }
                    .playerMainCountry {
                        display: flex;
                        align-items: center;

                        span {
                            margin-left: 5px;
                            font-weight: 700;
                        }
                    }
                    .playerMainSportsClub {
                        display: flex;
                        align-items: center;

                        span {
                            margin-left: 5px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
