body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.layout {
    .link {
        color: inherit;
        text-decoration: none;
    }

    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
