.matchBox {
    width: calc(50% - 50px);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.68);
    margin: 15px 7.5px;
    padding: 15px;

    .matchHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .matchHeaderLeft {
            span {
                color: rgb(207, 29, 29);
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
            }
        }
    }

    .matchMain {
        display: flex;
        flex-direction: column;

        .matchTitle {
            font-size: 20px;
            &:hover {
                color: #7e7c7c;
            }
        }

        .matchTeam {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 40px;
                padding: 5px;
                text-align: center;
                margin-left: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .teamInfo {
                display: flex;
                align-items: center;
                padding: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;

                    &:hover {
                        color: #636161;
                    }
                }

                img {
                    height: 40px;
                    width: 45px;
                    margin-right: 10px;
                }
            }
            .teamScore {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    .matchBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 0 4px 0;
        gap: 10px;

        .actionButton {
            background-color: #1775ee;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
