.navbar {
    height: 100px;
    background-color: lightgray;

    .navbarWrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbarLeft {
            flex: 4;
            img {
                width: 120px;
                height: 120 px;
            }
        }

        .navbarCenter {
            flex: 4;

            .searchbar {
                width: 100%;
                height: 45px;
                background-color: white;
                border-radius: 30px;
                display: flex;
                align-items: center;
            }

            .searchIcon {
                font-size: 25px !important;
                margin-left: 10px;
                color: #13579a;
            }

            .searchInput {
                border: none;
                font-size: 18px;
                width: 100%;
                border-radius: 30px;
            }

            .searchInput:focus {
                outline: none;
            }
        }

        .navbarRight {
            flex: 4;

            .navbarRightInfo {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 15px;

                .navbarNotifications {
                    background: #007bff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: 6px 10px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background: #0056b3;
                    }
                }

                .navbarRightLink {
                    font-size: 24px;
                    text-decoration: none;
                    color: inherit;
                }

                .navbarRightLink:hover {
                    color: #1775ee;
                }
            }
        }
    }
}
