.footer {
    margin: 100px 200px 20px 200px;

    .top {
        display: flex;
        gap: 50px;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: justify;
            font-size: 14px;

            .title {
                font-size: 18px;
                font-weight: 500;
                color: #555;
            }

            .span {
                color: gray;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .logo {
            img {
                height: 60px;
                width: 100px;
            }
        }

        .copyright {
            margin-left: 20px;
            font-size: 12px;
            color: gray;
        }
    }
}
