.leftbar {
    flex: 2.5;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow-y: auto;

    .leftbarWrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .leftbarLink {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: limegreen;
            text-transform: uppercase;
            font-size: 24px;

            &:hover {
                color: green;
            }
        }

        .leftbarList {
            overflow-y: auto;
            flex: 1;
        }

        .leftbarListItem {
            display: flex;
            margin-bottom: 20px;

            span {
                color: #7b7979;
                padding: 8px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
