.leftbar {
    flex: 2.5;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;

    .leftbarWrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;

        a {
            display: flex;
            justify-content: center;
            color: limegreen;
            text-transform: uppercase;
        }

        .leftbarListItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            span {
                padding: 8px;
            }
        }
    }
}
