.leftbar {
    flex: 2.5;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;

    .leftbarWrapper {
        padding: 20px;

        h3 {
            color: limegreen;
            text-transform: uppercase;
            text-align: center;
        }

        .leftbarList {
            display: flex;
            flex-direction: column;

            .leftbarListItem {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .leftbarListItemContainer {
                    display: flex;
                    flex-direction: column;

                    span {
                        padding: 8px;
                    }
                }
            }
        }
    }
}
