.rightbar {
    flex: 2;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    overflow-y: auto;

    .rightbarWrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .rightbarTitle {
            display: flex;
            justify-content: center;
            color: limegreen;
            text-transform: uppercase;
            font-size: 24px;
            margin: 0;
        }

        .rightbarList {
            overflow-y: auto;
            flex: 1;
        }

        .rightbarListItem {
            display: flex;
            margin-bottom: 20px;

            span {
                color: #7b7979;
                padding: 8px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
